.image{
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ebebeb;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.image>span{
    color: #B4B4B4;
    font-size: 11px;
}

.image>label{
    color: #616161;
    font-size: 15px;
    font-weight: 600;
}